@import 'variables';
@import 'mixin';
@import 'extends';

body{
    margin:0px;
    padding: 0px;
}




h1{
    color: $primaryred;
    @include flex-property(flex,20px);
    @extend %heading;
    font-family: 'Poppins';
}



.footer_section {
  @include main_container;
  margin: auto;
}


.footer_main {
  padding-top: 140px;
  background: black;
  padding-bottom: 5px;
}


ul.destinations-list li {
  color: $primrywhite;
  font-size: 18px;
    font-family: 'Poppins';
    line-height: 32px;
}

.paymentmethods h3 {
  color: $primrywhite;
}

p.description {
  color: $primrywhite;
}

ul.footer-list li {
  color: $primrywhite;
}

.social-icons svg {
  color: $primrywhite;
}

.footer_section a {
  color: white;
}

.copyright_footer {
  @include main_container;
  margin: auto;
  border-top: 1px solid #ffffff69;
  margin-top: 20px;
}

.copyright_footer p {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Poppins';
}

.footer_section {
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
}
.logo img {
  border-radius: 4px;
}
p.description {
  font-size: 18px;
  font-family: 'Poppins';
  max-width: 400px;
}

.footer_section h3 {
  color: #CA1E2A;
  font-family: 'Jost';
  font-size: 22px;
}

.methods {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  width: fit-content;
}
.destinations-container h3 {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.social-icons svg {
  font-size: 20px;
  background: #E8E4FF;
  padding: 7px;
  border-radius: 34px;
  color: #1802A0;
  width: 22px;
  height: 22px;
}

ul.footer-list li {
  font-size: 18px;
  font-family: poopins;
  font-family: "Poppins";
}

.destinations-container li {
  font-size: 18px;
  list-style-type: none;
  padding: 0px;
}

ul.contact-list {
  padding: 0px;
}

.address-description p {
  color: white;
  font-size: 18px;
  font-family: 'Poppins';
  max-width:280px;
}

ul.footer-list {
  padding: 0px;
  list-style-type: none;
line-height: 30px;
}


.right_side_offer img {
  width: 100%;
  height: 180px;
}

.left_offer_side h2 {
  font-size: 25px;
  font-family: 'Jost';
}

.left_offer_side button {
  padding: 10px 26px;
  margin-bottom: 22px;
  font-size: 15px;
  font-family: 'Poppins';
  border-radius: 5px;
  background: #cf0c2a;
  color: white;
  border: none;
}

.right_side_offer {
  display: inline-flex;
}



.offer_inner {
@include main_container;
margin: auto;
display: flex !important;
background: #1802A0;
color: white;
align-items: center;
border-radius: 10px;
margin-bottom: -100px;
z-index: 999;
position: relative;
justify-content: space-between;
padding-right: 0px;
}

ul.contact-list li a {
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
  font-size: 18px;
  font-family: 'Poppins';
  text-decoration: none;
}

.methods img {height: 40px;object-fit: contain;}



.methods img {
  height: 40px;
  object-fit: contain;
}
ul.destinations-list {
  padding: 0px;
}



/* styles/Navbar.css */
.contact-us-container {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

button.contact-button {
    padding: 10px 20px;
    background:#CF0C2A;
    border:none;
    color:white;
    border-radius:4px;
    font-size:16px;
    font-family: 'Poppins';
    font-weight: 600;
}

a.navbar-item {
    column-gap: 12px;
}


.icon-container {
    background: #E8E4FF;
    width: 43px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 31px;
}


.navbar-menu.active {
    display: flex; /* Show the menu when active */
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    padding-left: 27px;
  }
  


.outer_header {
    box-shadow: 2px 2px 9px #0000002b;
    position: sticky;
    top: 0px;
}









  .top_header {
    background-color: white;
    @include main_container;
    padding: 8px 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .navbar-container a {
    color: black;
    font-size: 18px;
    font-family: jost;
}
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .navbar-logo {
    display: flex;
  }
  
  .navbar-toggle {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .icon {
    height: 24px;
    width: 24px;
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    color: gray;
    text-decoration: none;
  }
  
  .navbar-item .icon {
    margin-right: 0.5rem;
  }
  .navbar-logo {
    display: none;
}



//   Poppins Jost

@font-face {
    font-family: 'Jost';
    src: url('../Fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
  }


//   Poppins font
@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../Fonts/Poppins/Poppins-Black.ttf') format('truetype');  
  }

@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    src: url('../Fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

 @font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('../Fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

 @font-face {
    font-family: 'Poppins';
    font-weight: 800;
    src: url('../Fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}
 @font-face {
    font-family: 'Poppins';
    font-weight: 200;
    src: url('../Fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../Fonts/Poppins/Poppins-Light.ttf') format('truetype');
}
 
 
 @font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
 
 @font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('../Fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
 
 @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
 

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    position: relative;
    width: 300px;
    cursor: pointer;
    transition: transform 0.2s;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .image {
    border-radius: 8px;
  }
  
  .overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .label {
    font-size: 14px;
  }
  
  .text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  






  @media only screen and (max-width:1024px) {
    .navbar-menu {
        display: none;
    }
    .navbar-logo {
        display: block;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none;
    }
    .navbar-menu {
      flex-direction: row;
      align-items: center;
    }
    .navbar-item {
      padding: 0 1rem;
    }
  }
  

 

