.admin_layout {
  max-width: 1520px;
  margin: 100px auto 50px auto;
  padding: 20px 0px;
  width: 100%;
  overflow: hidden;
}



path.recharts-sector:focus {
  outline: none;
}

/* Admin Dashboard Styles */

/* Overview Component */
.overview-d {
  background-color: #E8E4FF;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.overview-d h2 {
  color: #1802A0;
}

.overview-d-cards {
  display: flex;
  justify-content: space-around;
}

.overview-d-card {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CF0C2A;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  margin: 10px;
  text-align: center;
}
.overview-d-card .toggle-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}
.overview-d-card a{
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  color: white;
}
.icon_wrap svg {
  width: 60px;
  height: 60px;
}

.data_wrap p {
  font-size: 20px;
  font-weight: bold;
}
.data_wrap svg{
  width: 20px;
  height: 20px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-content a{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}
.toggle-btn {
  cursor: pointer;
}
.toggle-btn svg{
  width: 20px;
  height: 20px;
}
.popup {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.popup li {
  padding: 10px 20px;
  cursor: pointer;
}
.popup li:hover {
  background-color: #cf0c2a;
  color: white;
}


/* data percentage */

.pie-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie-chart .tooltip {
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
}






/* Stats Component */
.stats {
  background-color: #E8E4FF;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.stats h2 {
  color: #1802A0;
}

.stats-graphs {
  display: flex;
  flex-direction: column;
}

.stats-graph {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  margin: 10px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Recent Bookings Component */
.recent-bookings {
  background-color: #E8E4FF;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.recent-bookings h2 {
  color: #1802A0;
}

.recent-bookings table {
  width: 100%;
  border-collapse: collapse;
}

.recent-bookings th,
.recent-bookings td {
  border: 1px solid #1802A0;
  padding: 10px;
  text-align: left;
}

.recent-bookings th {
  background-color: #CF0C2A;
  color: white;
}

.recent-bookings td {
  background-color: white;
}



/* Packages Page Styles */

.packages {
  padding: 20px;
  background-color: #E8E4FF;
  border-radius: 8px;
  overflow-x: auto;
}

.packages h2 {
  color: #1802A0;
  text-align: center;
  margin-bottom: 20px;
}

.action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.select-all-checkbox {
  margin-right: 10px;
}
.action-bar input[type="checkbox"],
.packages-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.action-bar-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: #CF0C2A;
}

.packages-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  min-width: 600px;
}

.packages-table th,
.packages-table td {
  padding: 10px;
  border: 1px solid #a0027031;
  text-align: left;
}

.packages-table th {
  background-color:  #1802A0;
  border: 1px solid #cf0c29a4;
  color: white;
}

.package-image {
  width: 100px;
  height: auto;
}

.actions {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.action-icon {
  cursor: pointer;
  font-size: 1.2rem;
}

.action-icon.view {
  color: #1802A0;
}

.action-icon.edit {
  color: #FFD700;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #1802A0;
  padding: 20px 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 5px 10px;
  border: none;
  background-color: #1802A0;
  color: white;
  cursor: pointer;
  margin: 0 5px;
}

.pagination-info {
  margin: 0 10px;
}

/* Floating Plus Icon Styles */
.floating-plus {
  position: fixed;
  bottom: 70px;
  right: 40px;
  background-color: #1802A0;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1000;
  transition: background-color 0.3s;
}

.floating-plus:hover {
  background-color: #3b1a7d;
}

.tooltip {
  position: absolute;
  bottom: 50px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.floating-plus:hover .tooltip {
  opacity: 1;
}



/* Update packages styles */

.update-packages-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-packages-heading {
  margin-bottom: 20px;
  color: #333;
}

.update-packages-loading {
  font-size: 16px;
  color: #666;
}

.update-packages-error {
  color: red;
  margin-bottom: 20px;
}

.update-packages-success {
  color: green;
  margin-bottom: 20px;
}

.update-packages-form {
  display: flex;
  flex-direction: column;
}

.update-packages-label {
  margin-bottom: 15px;
  font-weight: bold;
}

.update-packages-input,
.update-packages-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.update-packages-textarea {
  resize: vertical;
  min-height: 100px;
}

.update-packages-file-input {
  margin-top: 5px;
}

.update-packages-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-packages-button:hover {
  background-color: #005bb5;
}

.update-packages-image-preview {
  margin-top: 10px;
}

.update-packages-image {
  max-width: 100px;
  border-radius: 4px;
}


/* Preview packages */

/* styles.css */

.preview-continent-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preview-continent-heading {
  margin-bottom: 20px;
  color: #333;
}

.preview-continent-loading {
  font-size: 16px;
  color: #666;
}

.preview-continent-error {
  color: red;
  margin-bottom: 20px;
}

.preview-continent-content {
  display: flex;
  flex-direction: column;
}

.preview-continent-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.preview-continent-slug {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.preview-continent-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.preview-continent-image {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.preview-continent-countries {
  margin-top: 20px;
}

.preview-country {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.preview-country h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.preview-country-image {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.preview-country h5 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.preview-country ul {
  list-style-type: none;
  padding: 0;
}

.preview-country ul li {
  font-size: 14px;
  color: #666;
}



/* Add Continent Page Styles */

.add-continent {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-continent h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="file"] {
  padding: 3px;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.image-preview {
  margin-top: 10px;
}

.image-preview img {
  max-width: 200px;
  height: 200px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.add-continent .button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.add-continent .button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  margin-bottom: 15px;
  text-align: center;
}


/* Reports page style */

.reports-page {
  padding: 20px;
  background-color: #f9f9f9;
}

.reports-page h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.report-section {
  margin-bottom: 30px;
}

.report-section h2 {
  color: #444;
  margin-bottom: 10px;
}

.reports-page table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.reports-page table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.reports-page table th {
  background-color: #f2f2f2;
  color: #333;
}

.reports-page .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.reports-page .loading p {
  font-size: 18px;
  color: #666;
}


/* Notification page style */

.notifications-page {
  padding: 20px;
}

.notification-section {
  margin-bottom: 20px;
}

.notification-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.notification-section ul {
  list-style-type: none;
  padding: 0;
}

.notification-section li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Blog category style */

.blog_cat_wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 20px;
  row-gap: 10px;
}


/* Category management */

.category-management {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.category-actions {
  display: flex;
  gap: 10px;
}

.category-actions svg {
  cursor: pointer;
}

.add-category {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.add-category .tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.add-category:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.category-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-form .form-group {
  display: flex;
  flex-direction: column;
}

.category-form label {
  margin-bottom: 5px;
}

.category-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.category-management button.btn {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-management button.btn:hover {
  background-color: #218838;
}

.category-management .message {
  margin-top: 10px;
  color: green;
}



/* Responsive Styles */
@media (max-width: 768px) {
  .admin_layout {
    padding: 10px 20px;
  }

  .overview-d-cards {
    flex-direction: column;
    align-items: center;
  }

  .overview-d-card {
    margin: 10px 0;
  }


  /* add continent page  style start*******************************/
  
  .add-continent {
    margin: 20px;
    padding: 15px;
  }

  .form-group input,
  .form-group textarea {
    padding: 8px;
  }

  .button {
    padding: 8px;
    font-size: 14px;
  }
  /* add continent page  style end*******************************/

  /* package page style starts ****************************** */
  .packages-table th,
  .packages-table td {
    font-size: 0.875rem;
    /* Adjust font size */
    padding: 8px;
    /* Adjust padding */
  }

  .package-image {
    width: 80px;
    /* Smaller image size for small screens */
  }

  .actions {
    flex-direction: column;
    /* Stack actions vertically on small screens */
  }

  .action-icon {
    font-size: 1rem;
    /* Smaller action icon size */
    margin-bottom: 5px;
    /* Space between action icons */
  }

  /* package page style end ****************************** */

}



@media (max-width: 480px) {

  .packages-table-container {
    display: block;
    overflow-x: auto;
  }

  .packages-table {
    min-width: 480px;
    /* Set a smaller minimum width */
  }
  .action-bar input[type="checkbox"],
  .packages-table input[type="checkbox"] {
    width: 12px;
    height: 12px;
  }

  /* add continent page  style start*******************************/
  .add-continent {
    margin: 10px;
    padding: 10px;
  }

  .form-group input,
  .form-group textarea {
    padding: 6px;
  }

  .button {
    padding: 6px;
    font-size: 12px;
  }
  /* add continent page style end*******************************/
}