/* Sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #2c3e50; /* Darker shade for sidebar background */
  color: white;
  overflow-x: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 99999;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Added shadow for depth */
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-content {
  padding: 20px;
}

.sidebar h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold; /* Added bold text */
  text-transform: uppercase; /* Capitalized text */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar-icon {
  margin-right: 10px; /* Space between icon and text */
  font-size: 20px; /* Icon size */
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Adjustments for responsive design */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar-content {
    padding: 15px;
  }

  .sidebar h2 {
    font-size: 20px;
  }

  .sidebar ul li a {
    font-size: 16px;
  }
}
